.planet-stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.planet-stats > div {
  border: 1px solid #838391;
  padding: 2rem 10.3rem 2.7rem 2.3rem;
}

.stat-name {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: #838391;
}

.stat {
  font-size: 4rem;
  line-height: 5.176rem;
  letter-spacing: -1.5px;
}

@media screen and (max-width: 83.4375rem) {
  .planet-stats > div {
    padding-right: 6.3rem;
  }
}

@media screen and (max-width: 58.4375rem) {
  .stat {
    font-size: 2.6rem;
    line-height: 3.105rem;
  }
}

@media screen and (max-width: 46.25rem) {
  .stat-name {
    font-size: 1.3rem;
  }

  .planet-stats {
    flex-direction: column;
    gap: 1rem;
    margin: 0 2.4rem;
  }

  .planet-stats > div {
    display: flex;
    padding: 1.6rem 2.4rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
