.planet-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 5rem;
}

.planet-stats > div {
  border: 1px solid #838391;
  padding: 2rem 10.3rem 2.7rem 2.3rem;
}

.stat-name {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: #838391;
}

.stat {
  font-size: 4rem;
  line-height: 5.176rem;
  letter-spacing: -1.5px;
}

@media screen and (max-width: 83.4375rem) {
  .planet-stats > div {
    padding-right: 6.3rem;
  }
}

@media screen and (max-width: 70.125rem) {
  .planet-stats {
    width: 90%;
  }
}
