.planet-container {
  display: flex;
  align-items: center;
  gap: 30rem;
  margin: 12.6rem auto 8.7rem;
  width: 60%;
}

.info-images {
  position: relative;
}

.planet-pic {
  width: 30rem;
  position: relative;
}

.planet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.3rem;
}

.planet-geology {
  width: 16.3rem;
  position: absolute;
  bottom: -43%;
  right: 22.5%;
}

.planet-name {
  font-size: 8rem;
  line-height: 10.352rem;
}

.planet-description {
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin: 2.4rem 0;
}

.source-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.source-container > span {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #838391;
}

.source-container > a {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #838391;
}

/* ACTIVE */

@media screen and (max-width: 70.125rem) {
  .planet-container {
    width: auto;
    flex-direction: column;
    gap: 13rem;
    margin-top: 2rem;
  }

  .planet-info {
    flex-direction: row;
    margin: 0 4rem;
    gap: 12rem;
  }

  .planet-info > div {
    width: 50%;
  }
}

@media screen and (max-width: 46.25rem) {
  .planet-info > div {
    width: 90%;
  }

  .planet-info {
    margin: 0;
    text-align: center;
    gap: 0;
  }

  .source-container {
    justify-content: center;
  }
}
