.planet-container {
  display: flex;
  align-items: center;
  gap: 30rem;
  margin: 12.6rem auto 8.7rem;
  width: 60%;
}

.info-images {
  position: relative;
}

.planet-pic {
  width: 30rem;
  position: relative;
}

.planet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.3rem;
}

.planet-geology {
  width: 16.3rem;
  position: absolute;
  bottom: -43%;
  right: 22.5%;
}

.planet-name {
  font-size: 8rem;
  line-height: 10.352rem;
}

.planet-description {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.list-number {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.25714285373687744rem;
  color: #838391;
}

.info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-list > a > button {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.1rem 0 1.1rem 2.8rem;
  cursor: pointer;
}

.source-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-top: 2.4rem;
}

.source-container > span {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #838391;
}

.source-container > a {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #838391;
}

/* ACTIVE */

.info:hover {
  background-color: #38384f;
  cursor: pointer;
}

.info.mercury.active {
  background-color: #419ebb;
}

.info.venus.active {
  background-color: #eda249;
}

.info.earth.active {
  background-color: #6d2ed5;
}

.info.mars.active {
  background-color: #d14c32;
}

.info.jupiter.active {
  background-color: #d83a34;
}

.info.saturn.active {
  background-color: #cd5120;
}

.info.uranus.active {
  background-color: #1ec1a2;
}

.info.neptune.active {
  background-color: #2d68f0;
}

@media screen and (max-width: 70.125rem) {
  .planet-container {
    width: auto;
    margin-top: 17rem;
    flex-direction: column;
    gap: 13rem;
  }

  .planet-info {
    flex-direction: row;
    margin: 0 4rem;
    gap: 12.3rem;
  }

  .info-list {
    width: 100%;
  }
}
