.planet-container {
  display: flex;
  align-items: center;
  gap: 30rem;
  margin: 12.6rem auto 8.7rem;
  width: 60%;
}

.planet-container > img {
  width: 30rem;
}

.planet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.3rem;
}

.planet-name {
  font-family: "Antonio", serif;
  font-size: 8rem;
  line-height: 10.352rem;
}

.planet-description {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.list-number {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.25714285373687744rem;
  color: #838391;
}

.info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-list > a > button {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.1rem 0 1.1rem 2.8rem;
  cursor: pointer;
}

.source-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.source-container > span {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #838391;
}

.source-container > a {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #838391;
}

/* ACTIVE */

.info-list > button:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}
