@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("/assets/background-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #070724;
  color: white;
}

button {
  border: none;
  font-family: "League Spartan", serif;
  color: white;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.link,
.link-mercury,
.planet-description,
.stat-name {
  font-family: "League Spartan", serif;
}

.logo,
.planet-name,
.stat {
  font-family: "Antonio", serif;
}
